<div class="cost-page-container">
  <app-navbar></app-navbar>
  <div class="main-content">
      <app-side-panel (partSelected)="onPartSelected($event)" (searchedProjectId)="onProjectIdSelected($event)" [selectedProject]="selectedProject"></app-side-panel>
      <div class="item-list-container">
          <app-item-list [selectedPart]="selectedPart" [searchedProjectId]="searchedProjectId" [selectedProject]="selectedProject"></app-item-list>
      </div>
      <app-cost-summary></app-cost-summary>
  </div>
</div>
