<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TrueValue Hub</a>

    <!-- Navbar Items -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
      <li class="nav-item text-center">
        <a class="nav-link active" aria-current="page" href="#">
          <i class="bi bi-house-door"></i>
          <div>Home</div>
        </a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" href="costing">
          <i class="bi bi-currency-dollar"></i>
          <div>Costing</div>
        </a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" href="#">
          <i class="bi bi-graph-up"></i>
          <div>Analytics</div>
        </a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" href="#">
          <i class="bi bi-search"></i>
          <div>AI Search</div>
        </a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" href="#">
          <i class="bi bi-search"></i>
          <div>AI Search New</div>
        </a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" href="#">
          <i class="bi bi-people"></i>
          <div>Collaborate</div>
        </a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" href="#">
          <i class="bi bi-journal-text"></i>
          <div>Reports</div>
        </a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" href="#">
          <i class="bi bi-database"></i>
          <div>Database</div>
        </a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" href="#">
          <i class="bi bi-building"></i>
          <div>DigitalFactory</div>
        </a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" href="#">
          <i class="bi bi-archive"></i>
          <div>Archive</div>
        </a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" href="#">
          <i class="bi bi-gear"></i>
          <div>Settings</div>
        </a>
      </li>
    </ul>

    <!-- Search and Profile Section -->
<form class="d-flex search-form">
  <div class="input-group">
    <span class="input-group-text" id="search-icon">
      <i class="bi bi-search"></i>
    </span>
    <input class="form-control search-input" type="search" placeholder="Search..." aria-label="Search">
  </div>
</form>


    <!-- Right icons -->
    <ul class="navbar-nav">
      <li class="nav-item text-center">
        <a class="nav-link" href="#">
          <i class="bi bi-question-circle"></i>
        </a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" href="#">
          <i class="bi bi-bell"></i>
        </a>
      </li>
      <li class="nav-item dropdown text-center">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" >
          <i class="bi bi-person-circle"></i>
          <div>Experion</div>
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- <div class="recent-visits  p-2">
  <span>Recent Visits - </span>
  <a href="#" class="link-primary">Greensand Automatic bb</a> -
  <a href="#" class="link-primary">Casting</a> -
  <a href="#" class="link-primary">Gear Broaching new</a> -
  <a href="#" class="link-primary">Machining bb</a> -
  <a href="#" class="link-primary">Lathe</a> -
  <a href="#" class="link-primary">Hubbell-test</a> -
  <a href="#" class="link-primary">HPDC</a> -
  <a href="#" class="link-primary">Kiran test ADS file</a> -
  <a href="#" class="link-primary">hubble casting 2</a> -
  <a href="#" class="link-primary">Trial Part 151</a> -
  <a href="#" class="link-primary">GDC test Kiran</a>
</div> -->
